

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100" style="height:60em;background:-webkit-linear-gradient(top, #7579f3, #7ce0d2);padding:15px 55px 37px 55px">
            <form class="login100-form validate-form">
                
                <span class="login100-form-title p-b-34" style="text-transform:none">
                    Create Account
                </span>

                <div class="wrap-input100 validate-input" data-validate="Enter Email">
                    <input class="input100" data-ng-model="createA.UserName" iaspemailvalidation="" required="" type="email" name="Email" id="EmailTextboxPosition" placeholder="Email" style="">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter Email">
                    <input class="input100" data-ng-model="createA.Password" passwordvalidation="" required="" data-ng-keyup="createA.CheckPassword($event)" type="password" name="Password" id="PasswordTextboxPosition" placeholder="Password" style="">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter Email">
                    <input class="input100" data-ng-model="createA.Name" required="" type="text" placeholder="Name" id="NameTextboxPosition" style="">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter Email">
                    <input class="input100" data-ng-model="createA.SchoolCorporation" required="" type="text" placeholder="School Corporation/ Organization" id="SchoolCorporationTextboxPosition" style="">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter Email">
                    <input class="input100" data-ng-model="createA.PhoneNumber" maxlength="24" required="" restrict-input="{type: 'validPhoneCharsOnly'}" type="text" placeholder="Phone Number (XXX) XXX-XXXX" id="PhoneNumberTextboxPosition" style="">
                </div>
                <div class="container-login100-form-btn">                    
                    <button data-ng-click="createA.CreateAccount()" name="CreateAccount" class="login100-form-btn" id="DarkCreateAccountButtonPosition">Create Account</button>
                </div>

                    <a class="txt1" id="ForgotButtonPosition" href="" onclick="window.location.hash='#/login'" style="font-size:20px;">
                        Login
                    </a>
                    <a class="txt1" id="CreateAccountButtonPosition" href="" onclick="window.location.hash='#/forgotPassword'" style="float:right;font-size:20px;">
                        Forgot Password
                    </a>
            </form>
        </div>
    </div>
</div>