<div class="VideoBackground">
    <link href="assets/css/forgetPassword.css" rel="stylesheet" />
    <!--<video class="bgvid" autoplay="autoplay" preload="auto" loop webkit-playsinline>
        <source src="assets/images/eh5v/html5video/iAspire-Login-iOS.mp4" type="video/mp4" />
        <source src="assets/images/eh5v/html5video/login-video.ogv" type="video/ogg" />
        <source src="assets/images/eh5v/html5video/login-video.webm" type="video/webm" />
    </video>-->
    <div class="bgvid bgImage"></div>
    <div class="LoginBox" id="LoginBoxPosition">
        <div class="LogoBox" id="LogoBoxPosition">
            <img class="Logo" src="assets\images\iAspire-logo-2.png" />
        </div>
        <div id="EmailPasswordLoginContainer">
            <div>
                <input type="text" name="Email" class="EmailTextbox" id="EmailTextboxPosition" placeholder="Email" data-ng-model="forgotPasswordC.Email" required>
            </div>
            <div>
                <button name="SendEmail" class="SendEmailButton" id="SendEmailButtonPosition" data-ng-click="forgotPasswordC.resetPassword();">Send Email</button>
                <img src="assets/images/circle_spinner.png" class="sendEmailButtonClickedSpinner LoadingImageSmall"
                     data-ng-if="forgotPasswordC.userClickedButton == true"
                     data-ng-class="forgotPasswordC.userClickedButton == true ? 'Spin' : ''" />
            </div>
        </div>
        <div id="BottomButtonsPosition">
            <button name="ForgotPassword" class="ForgotButton" id="ForgotButtonPosition" onclick="window.location.hash='#/login'">Login</button>
            <button name="CreateAccount" class="CreateAccountButton" id="CreateAccountButtonPosition" onclick="window.location.hash='#/createAccount'">Create Account</button>
            <div class="GroupFloats"></div>
        </div>
    </div>
</div>

