<script>





</script>


<div class="VideoBackground">
    <link href="assets/css/login.css" rel="stylesheet" />
    <!--<video class="bgvid" autoplay="autoplay" preload="auto" loop webkit-playsinline>
        <source src="assets/images/eh5v/html5video/iAspire-Login-iOS.mp4" type="video/mp4" />
        <source src="assets/images/eh5v/html5video/login-video.ogv" type="video/ogg" />
        <source src="assets/images/eh5v/html5video/login-video.webm" type="video/webm" />
    </video>-->  
    <div class="LoginBox" id="LoginBoxPosition">
        <div class="LogoBox" id="LogoBoxPosition">
            <img class="Logo" src="assets\images\iAspire-logo-2.png" />
        </div>
        <div id="EmailPasswordLoginContainer">
            <div>
                <textarea type="text" name="Notification" class="EmailTextbox" id="EmailTextboxPosition" data-ng-model="notiC.notificationmessage" placeholder="Notification"></textarea>
            </div>

            <div>
                <button name="Login" class="LoginButton" id="LoginButtonPosition" ng-click="notiC.showToast()">
                    <span>Send Notification</span>
                </button>               
            </div>
        </div>        
    </div>
</div>

