<!-- START NILESH-TSK16 -->
<link rel='stylesheet' href='assets/css/autosearchdd.css'>
<!-- END NILESH-TSK16 -->

<style>
   
    div.container {
        width: 100%;
        overflow-x: auto;
    }

    #tab1 tr td {
        white-space: nowrap;
    }
    .form-control {
        width: 90%;
        line-height: 1.3;
    }
    .page-body {
        font-size: 15px;
    }
</style>
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body"> 
                            <div id="SurveyListContainerPosition" class="SurveyListContainer" data-ng-hide="oSD.surveyIsLoaded == true">
                                <div class="bs-example">
                                    <ol class="breadcrumb" style="margin-bottom:.2em">
                                        <li class="breadcrumb-item" ng-if="PrePath!='Dashboard'"><a href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#">{{PrePath}}</a></li>
                                        <li class="breadcrumb-item"><a href="#">Document</a></li>
                                    </ol>
                                </div>
                                <!--<nav class="navbar header-navbar" id="FilterSectionPosition" style="background:#abe0f9;min-height: 10px;">
                                </nav>-->
                                <div style="padding-top:.3%">
                                    <nav class="navbar header-navbar" id="FilterSectionPosition" style="background:#d3d3d3;min-height: 105px;">
                                        <div class="col-md-3">
                                            <label for="FromDate">From Date</label>
                                            <input id="FromDate" type="text" datetimepicker class="form-control"
                                                   data-ng-model="oSD.SearchData.startDate" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="FromDate">To Date</label>
                                            <input id="ToDate" type="text" datetimepicker class="form-control"
                                                   data-ng-model="oSD.SearchData.endDate" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="FromDate">Search Text</label>
                                            <input name="SearchEmployee" id="SearchEmployeebs" class="form-control"
                                                   style=""
                                                   type="text" placeholder="Search by Employee, Department"
                                                   data-ng-model="oSD.FilterSettings.SelectedEmployee"
                                                   data-ng-change="oSD.FilterSettings.SearchEmployeeByName()">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="FromDate"></label>
                                            <input type="button" value="Search" class="form-control" ng-click="oSD.FilterbyData()" style="background-color:#4099ff;margin-top:9%" />
                                        </div>
                                    </nav>
                                </div>
                                <div style="padding-top:.5%">
                                    <nav class="navbar header-navbar" id="FilterSectionPosition" style="background:#abe0f9;min-height: 25px;">

                                    </nav>
                                </div>
                                <div class="SurveyItem" data-ng-repeat="surv in oSD.SurveyList">
                                    <div class="SurveyTitle" ng-if="surv.Archive==false">
                                        <div class="SurveyTitleTextContainer VerticalAlign">
                                            <label class="SurveyTitleText">{{surv.Title}}</label>
                                        </div>
                                        <div class="OpenCloseCheckboxWrapper VerticalAlign">
                                            <div>
                                                <button class="btn btn-primary" style="padding: 0px 28px;border-radius: 9px;" id="show{{$index}}"
                                                        ng-click="oSD.getVotBySurveyID(surv,'divtag',$index);">
                                                    Show
                                                </button>
                                            </div>
                                        </div>
                                        <div class="TitleBarPlaceholder VerticalAlign"></div>
                                    </div>
                                    <div data-ng-show="surv.ShowVotes" class="container">
                                        <table id="tab1" class="SurveyVoteTable" data-ng-if="surv.VoteList.length > 0 && surv.VoteList[0].VoterAnswerFilterValues.length == 0">
                                            <thead>
                                                <tr>
                                                    <th class="VoteNameHeader">Name:</th>
                                                    <th class="LastEditDateHeader">Last Modified:</th>
                                                    <th class="IsVoteOpenHeader"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- START NILESH_TSK16  // Add Condition in data-ng-if -> && vote.IsInvalidEmployee != true  -->
                                                <tr class="VoteRow" data-ng-repeat="vote in surv.VoteList"
                                                    data-ng-if="vote.IsInValidDateRange != true && vote.IsInvalidEmployee != true && vote.VoterAnswerFilterValues != null">
                                                    <!-- END NILESH_TSK16 -->
                                                    <td class="VoteName" data-ng-click="oSD.loadPrintableSurvey($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID);">{{vote.UniqueSurveyTitle}}</td>
                                                    <td class="LastEditDate" data-ng-click="oSD.loadPrintableSurvey($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID);">{{vote.StrFrmtLastEditDate}}</td>
                                                    <!--//MP comment changes-->
                                                    <td data-ng-if="(vote.Validated == false) && vote.VoterAnswerFilterValues != null">
                                                        <button data-ng-click="oSD.setVoterToOpen($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID,vote);" class="ResumeButton">Resume</button>
                                                    </td>
                                                    <!-- START NILESH_TSK10 -->
                                                    <td data-ng-if="vote.Validated == true && vote.VoterAnswerFilterValues != null" style="min-width:100px;">
                                                        <!--//MP comment changes-->
                                                        <div style="float:left;"><button data-ng-click="oSD.setVoterToOpen($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID);" class="EditButton"></button></div>
                                                        <div style="float:left;"><button data-ng-click="oSD.openPrintPage($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID);" class="PrintButton"></button></div>
                                                    </td>
                                                    <!-- END NILESH_TSK10 -->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="SurveyVoteTable" data-ng-if="surv.VoteList.length > 0 && surv.VoteList[0].VoterAnswerFilterValues.length > 0">
                                            <thead>
                                                <tr data-ng-repeat="vote in surv.VoteList" data-ng-if="$index == 0">
                                                    <!-- START NILESH-TSK91 -->
                                                    <!-- START NILESH-TSK92 -->
                                                    <th ng-if="vote.TyLyCheckbox == undefined && vote.isActive==false && role!=true && oSD.ShowMailStatusColumn == true && isSelfReflectionRole == false" class="IsVoteOpenHeader"></th>
                                                    <!-- END NILESH-TSK92 -->
                                                    <th ng-if="isSelfReflectionRole == true" class="IsVoteOpenHeader"></th>
                                                    <!-- END NILESH-TSK91 -->
                                                    <!-- START NILESH-TSK92 -->
                                                    <th ng-if="vote.TyLyCheckbox != undefined " class="IsVoteOpenHeader"></th>
                                                    <!-- END NILESH-TSK92 -->
                                                    <th class=""
                                                        data-ng-repeat="columnHeader in vote.VoterAnswerFilterValues" ng-click="oSD.ChangeFilterSettings(columnHeader.VariableName, vote.SurveyID)" ng-if="vote.SurveyTitle=='High Five a Teammate!' && columnHeader.VariableName!='Submitted By'">{{columnHeader.VariableName}}<span style="display: inline-block; position: relative; top: 3px;" ng-class="(oSD.FilterOptions.columnName == columnHeader.VariableName.replace(' ', '').replace('&', '') && oSD.FilterOptions.surveyID == vote.SurveyID) ? ((oSD.FilterOptions.descending == true) ? 'ui-icon ui-icon-triangle-1-n' : 'ui-icon ui-icon-triangle-1-s') : ''"></span></th>
                                                    <th class=""
                                                        data-ng-repeat="columnHeader in vote.VoterAnswerFilterValues" ng-click="oSD.ChangeFilterSettings(columnHeader.VariableName, vote.SurveyID)" ng-if="vote.SurveyTitle!='High Five a Teammate!'">{{columnHeader.VariableName}}<span style="display: inline-block; position: relative; top: 3px;" ng-class="(oSD.FilterOptions.columnName == columnHeader.VariableName.replace(' ', '').replace('&', '') && oSD.FilterOptions.surveyID == vote.SurveyID) ? ((oSD.FilterOptions.descending == true) ? 'ui-icon ui-icon-triangle-1-n' : 'ui-icon ui-icon-triangle-1-s') : ''"></span></th>
                                                    <!-- START NILESH-TSK68 -->
                                                    <!-- END NILESH-TSK68 -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- START NILESH_TSK16  // Add Condition in data-ng-if -> && vote.IsInvalidEmployee != true  -->
                                                <tr class="VoteRow"
                                                    data-ng-repeat="vote in surv.VoteList | orderBy : oSD.CustomFilter : oSD.FilterOptions.descending=true:oSD.FilterOptions.columnName = 'LastSubmitted'"
                                                    data-ng-if="vote.IsInValidDateRange != true && vote.IsInvalidEmployee != true && vote.VoterAnswerFilterValues != null" id="{{vote.VoterID}}">
                                                    <!-- END NILESH_TSK16 -->
                                                    <!-- START NILESH-TSK91 -->
                                                    <!-- START NILESH-TSK92 -->
                                                    <td ng-if="vote.TyLyCheckbox == undefined && vote.isSR == false && vote.isActive==false && role!=true && oSD.ShowMailStatusColumn == true && isSelfReflectionRole == false"><button ng-if="vote.isActive==false && role!=true && oSD.ShowMailStatusColumn == true" data-ng-click="oSD.loadPrintableSurvey($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID,vote);" data-ng-class="vote.EmailStatus=='success' ? 'EmailSentButton' : 'EmailNotSentButton'"></button></td>
                                                    <!-- END NILESH-TSK92 -->
                                                    <td ng-if="vote.isSR == true" class="EmailNotSentButton">SR</td>
                                                    <!-- END NILESH-TSK91 -->
                                                    <!-- START NILESH-TSK92 -->
                                                    <td ng-if="vote.TyLyCheckbox != undefined">
                                                        <img src="assets/images/Checked.png" ng-if="vote.TyLyCheckbox" style="height:30px;color: #0c7b0cad;" />
                                                        <!--<img src="assets/images/uncheck.png" ng-if="!vote.TyLyCheckbox" style="height:26px;" />-->
                                                    </td>
                                                    <!-- END NILESH-TSK92 -->
                                                    <!--M0014--><!-- END NILESH_TSK16 -->
                                                    <td data-ng-repeat="columnValue in vote.VoterAnswerFilterValues" ng-class="{tdwidth :columnValue.VariableName=='Free text synopsis'}" ng-if="vote.isActive==false && vote.SurveyTitle!='High Five a Teammate!'" ng-click="oSD.loadPrintableSurvey($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID,vote);">
                                                        <label ng-show="!expanded">{{vote[columnValue.VariableName.replace(' ', '').replace('&', '')]| cut:true:50:' ...'}}</label>
                                                        <label ng-show="expanded">{{vote[columnValue.VariableName.replace(' ', '').replace('&', '')]}}</label>
                                                        <button ng-show="oSD.DisplayButton(vote[columnValue.VariableName.replace(' ', '').replace('&', '')],columnValue.VariableName)" ng-click="expanded = !expanded;$event.stopPropagation();" expand>
                                                            <span ng-bind="expanded ? '-' : '+'"></span>
                                                        </button>
                                                    </td>
                                                    <td data-ng-repeat="columnValue in vote.VoterAnswerFilterValues" ng-hide="$first" ng-class="{tdwidth :columnValue.VariableName=='Free text synopsis'}" ng-if="vote.isActive==false && vote.SurveyTitle=='High Five a Teammate!'" ng-click="oSD.loadPrintableSurvey($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID,vote);">
                                                        <label ng-show="!expanded">{{vote[columnValue.VariableName.replace(' ', '').replace('&', '')]| cut:true:50:' ...'}}</label>
                                                        <label ng-show="expanded">{{vote[columnValue.VariableName.replace(' ', '').replace('&', '')]}}</label>
                                                        <button ng-show="oSD.DisplayButton(vote[columnValue.VariableName.replace(' ', '').replace('&', '')],columnValue.VariableName)" ng-click="expanded = !expanded;$event.stopPropagation();" expand>
                                                            <span ng-bind="expanded ? '-' : '+'"></span>
                                                        </button>
                                                    </td>

                                                    <td d data-ng-if="vote.Validated == false">
                                                        <div style="float:left;" ng-if="role!=true"><button data-ng-click="oSD.setVoterToOpen($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID,vote);" class="ResumeButton">Resume</button></div>
                                                        <div style="float:left;"><span></span></div>
                                                        <div style="float:left;" ng-if="role!=true"><button data-ng-click="oSD.deActivateVote(vote.VoterID,surv.SurveyID);" class="DeleteButton"></button></div>

                                                    </td>
                                                    <!-- START NILESH_TSK10 -->
                                                    <td data-ng-if="vote.Validated == true && vote.isActive == false" style="min-width:150px;">
                                                        <div style="float:left;" ng-if="role!=true||isSelfReflectionRole==true"><button data-ng-click="oSD.setVoterToOpen($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID,vote);" class="EditButton"></button></div>
                                                        <div style="float:left;"><button data-ng-click="oSD.openPrintPage($event, vote.VoterID, surv.SurveyGuid, vote.ResumeUID,vote);" class="PrintButton"></button></div>
                                                        <div style="float:left;" ng-if="role!=true"><button data-ng-click="oSD.deActivateVote(vote.VoterID,surv.SurveyID);" class="DeleteButton"></button></div>
                                                    </td>

                                                    <td ng-if="$last"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="SurveyVoteTable" data-ng-if="surv.VoteList.length < 1">
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th>{{oSD.responseResult}}</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <table class="SurveyVoteTable" data-ng-if="surv.ShowSpinner == true">
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <!--<img src="assets/images/circle_spinner.png" class="LoadingImageSmall"
                                 data-ng-class="surv.ShowSpinner == true ? 'Spin' : ''" />-->
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div></div>
                                <div data-ng-if="oSD.ShowOverallSpinner == true">
                                    <div style="display: table; margin: auto; padding-top: 2%">
                                    </div>
                                </div>
                            </div>

                            <div data-ng-show="oSD.surveyIsLoaded == true" class="iFrameWrapper">
                                <iframe id="surveyResumeIFrame" iframe-onload="oSD.resumeiFrameLoadedCallback();"></iframe>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
