




<style>
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
</style>
<div class="loader-bg">
    <div class="loader-bar"></div>
</div>
    
            <!---------Header will go here----------------->
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- [ page content ] start -->
                                    <div class="row">
                                        <div class="col-md-12 col-xl-4">
                                            <div class="card comp-card">
                                                <div class="card-body">
                                                    <div id="container" style="height:348px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-12">
                                            <div class="card comp-card" style="padding:1%">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <h6 class="m-b-25">Total Employee</h6>
                                                            <h3 class="f-w-700 text-c-blue">{{selectionC.TotalEmployee}}</h3>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-plus-square bg-c-blue"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card comp-card" style="padding:1%">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <h6 class="m-b-25">Active</h6>
                                                            <h3 class="f-w-700 text-c-green">{{selectionC.ActiveEmployee}}</h3>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-check-square bg-c-green"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card comp-card" style="padding:1%">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <h6 class="m-b-25">Archived</h6>
                                                            <h3 class="f-w-700 text-c-yellow">{{selectionC.ArcivedEmployee}}</h3>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-archive bg-c-yellow"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="card latest-update-card">
                                                <div class="card-header">
                                                    <h5>Latest Activity</h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><i class="feather icon-trash close-card"></i></li>
                                                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 32.7em;overflow-y:scroll">
                                                        <div class="scroll-widget">
                                                            <div class="latest-update-box">
                                                                <div class="row p-t-20 p-b-30" ng-repeat="data in selectionC.ActivityData">
                                                                    <div class="col-auto text-right update-meta p-r-0">
                                                                        <i class="b-primary update-icon ring"></i>
                                                                    </div>
                                                                    <div class="col p-l-5">
                                                                        <a href="#!"><h6>Vote Submitted</h6></a>
                                                                        <p class="text-muted m-b-0">{{data.SubmittedBy}} has submitted {{data.FormName}}  <a href="#!" class="text-c-blue"> </a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 32.7em;"></div>
                                                            <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <div class="card proj-progress-card">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-md-6">
                                                            <h6>Total Survey</h6>
                                                            <h5 class="m-b-30 f-w-700">{{selectionC.TotalSurvey}}<span class="text-c-green m-l-10">{{selectionC.TotalSurveyResult }}%</span></h5>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-c-red" style="width:{{ selectionC.TotalSurveyResult }}%"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-6">
                                                            <h6>Completed Survey</h6>
                                                            <h5 class="m-b-30 f-w-700">{{selectionC.CompletedSurvey}}<span class="text-c-red m-l-10">{{ selectionC.CompletedSurveyResult }}%</span></h5>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-c-blue" style="width:{{ selectionC.CompletedSurveyResult }}%"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-6">
                                                            <h6>Resume Survey</h6>
                                                            <h5 class="m-b-30 f-w-700">{{selectionC.ResumedSurvey}}<span class="text-c-green m-l-10">{{ selectionC.ResumedSurveyResult }}%</span></h5>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-c-green" style="width:{{ selectionC.ResumedSurveyResult }}%"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-6">
                                                            <h6>Inactive Survey</h6>
                                                            <h5 class="m-b-30 f-w-700">{{selectionC.inActiveSurvey}}<span class="text-c-green m-l-10">{{selectionC.inActiveSurveyResult }}%</span></h5>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-c-yellow" style="width:{{ selectionC.inActiveSurveyResult }}%"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- [ page content ] end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    