<style type="text/css">
    div.container {
        width: 100%;
        overflow-x: auto;
    }

    #tab1 tr td {
        white-space: nowrap;
    }

    .form-control {
        width: 90%;
        line-height: 1.3;
    }

    .page-body {
        font-size: 15px;
    }
</style>

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">        
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">                    
                    <div class="page-wrapper">
                        <div class="page-body">                            
                            <div id="SurveyTypeListContainerPosition" class="SurveyTypeListContainer" style="padding-top:.5%;padding:5px">
                                <div class="bs-example">
                                    <ol class="breadcrumb" style="margin-bottom: 0.5%;">
                                        <li class="breadcrumb-item" ng-if="PrePath!='Dashboard'"><a href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#">{{PrePath}}</a></li>
                                        <li class="breadcrumb-item"><a href="#">Forms</a></li>
                                    </ol>
                                </div>
                                <nav class="navbar header-navbar" id="FilterSectionPosition" style="background:#abe0f9;min-height: 25px;">
                                </nav>
                                <div class="SurveyItem" data-ng-repeat="surv in sFC.BDynamicSurveyList">
                                    <div class="SurveyTitle">
                                        <div class="SurveyTitleTextContainer VerticalAlign" style="width:94%">
                                            <label class="SurveyTitleText">{{surv.Title}}</label>
                                        </div>
                                        <div class="OpenCloseCheckboxWrapper VerticalAlign">
                                            <div>
                                                <button class="btn btn-primary" style="padding: 0px 28px;border-radius: 9px;float:right" id="show{{$index}}"
                                                        data-ng-click="sFC.toSurveyPage($event, surv.SurveyID, surv.SurveyGuid);">
                                                    Open
                                                </button>
                                            </div>
                                        </div>
                                        <div class="TitleBarPlaceholder VerticalAlign"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
